# Node modules
node_modules/

# Environment variables
.env

# Uploaded files
backend/uploads/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# React build
frontend/build/

# Optional
*.log